body {
	background: url("http://i.imgur.com/xGAinlY.jpg");
	background-size: cover;
	text-align: center;
	/*margin-top: 250px;*/
	/*background: url(../images/lab-puppie.jpg);*/
}
h1 {
	font-family: 'Indie Flower', cursive;
	font-size: 100px;
	font-weight: 800;
	margin-top: 200px;
}
p {
	font-size: 20px;
	font-family: "Courier New", sans-serif;
	font-weight: 600;
	margin: 60px 0 0 0;
}
div {
	display: inline-block;
	margin: 100px 10px 0 10px;
	height: 20px;
	width: 180px;
	padding: 20px;
	border-style: outset;
	border-width: 5px;
	border-radius: 20px;
}
#adopt {
	background-color: #FF473B;
}
#programs {
	background-color: white;
}
a{
	font-family: verdana, sans-serif;
	color: black;
	font-weight: 200px;
}
