@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Rokkitt);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Dekko);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:100i);


/*START HEADER SECTION*/
#signIn {
	/*background-color: white;*/
	text-align: right;
	padding: .5em;
}
button {
	background-color: #373A42;
	color: white;
	border-radius: 2em;
	font-size: 0.7em;
}
/*END HEADER SECTION*/

/*START INTRO SECTION*/
header {
	height: 40em;
	background: url("http://i.imgur.com/xGAinlY.jpg");
	background-size: cover;
	text-align: center;
	padding: 3.2em;
	/*background: url(../images/lab-puppie.jpg);*/
}
h1 {
	font-family: 'Indie Flower', cursive;
	font-size: 5em;
	font-weight: 800;
	margin-top: 2em;
}
h3 {
	font-size: 1.6em;
	font-family: 'Rokkitt', serif;
	/*margin-top: 50px;*/
}
.homepageButtons {
	margin: 100px 10px 0 10px;
	height: 1em;
	width: 10em;
	padding: 20px;
	border-style: outset;
	border-radius: 2em;
	display: inline-block;
}
#adopt {
	background-color: #FF633F;	
}
#programs {
	background-color: white;
}
a{
	font-family: 'Josefin Sans', sans-serif;
	color: black;
	font-weight: 200;
	font-size: 1.1em;
	text-decoration: none;
}
/*END INTRO SECTION*/

/*START NAVAGATION SECTION*/
nav{
	text-align: center;
	background-color: #FF633F;
	margin: -1.6em 0 0 0;
}
ul {
	padding: 0.5em;
	list-style-type: none;
	font-size: 1.1em;
}
li {
	display: inline-block;
	text-decoration: underline;
	padding: 0 60px 0 60px;
}
/*END NAVAGATION SECTION*/

/*START ADOPTIONS PAGE SECTION*/
main {
	text-align: center;
	padding: 0 30px 0 30px;
	/*display: block;*/
	margin-top: 5em;
}
h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	text-align: center;
}

img {
	width: 20em;
	height: 20em;
	border-style: double;
	border-width: 0.2em;
}

.column {
	display: inline;
}

article {
	background-color: #EDEDED;
	width: 40em;
	margin: 0 auto;
	margin: 2em 1em 0 1em;
	display: inline-block;
	padding: 0.2em;
}

p {
	font-size: 1.1em;
	font-family: 'Dekko', cursive;
	text-align: left;
}

.dogPhoto {
	margin-right: 1em;
	display: inline-block;
}
.dogDescription{
	display: inline-block;
	width: 10em;
}
#seeMore {
	text-decoration: underline;
	text-align: center;
	margin-top: 2em;
}
/*END ADOPTIONS PAGE SECTION*/

/*START OF STORIES SECITON*/
#banner {
	background: url(../images/dog_lineup.jpg);
	/*background-size: cover;*/
	height: 20em;
	margin-top: 5em;
}
#highlight {
	background-color: #EDEDED;
	height: 8em;
	width: 50em;
	margin: 0 auto;
	margin-top: -9em;
}
h4 {
	text-align: center;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 3em;
	padding-top: .6em;
}
/*END OF STORIES SECTION*/

#classesAndPrograms {
	/*text-align: center;*/
	padding: 0 30px 0 30px;
	margin-top: 5em;
}




