@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Rokkitt);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);


body {
	background: url("http://i.imgur.com/xGAinlY.jpg");
	background-size: cover;
	text-align: center;
	/*margin-top: 250px;*/
	/*background: url(../images/lab-puppie.jpg);*/
}
button {
	background-color: #373A42;
	color: white;
	border-radius: 2em;
	font-size: 0.7em;
}
header{
	/*background-color: white;*/
	text-align: right;
	padding: .5em;
}
h1 {
	font-family: 'Indie Flower', cursive;
	font-size: 5em;
	font-weight: 800;
	margin-top: 2em;
}
p {
	font-size: 1.6em;
	font-family: 'Rokkitt', serif;
	/*margin-top: 50px;*/
}
div {
	display: inline-block;
}
#adopt {
	background-color: #FF633F;
	margin: 100px 10px 0 10px;
	height: 1em;
	width: 10em;
	padding: 20px;
	border-style: outset;
	border-radius: 2em;
}
#programs {
	background-color: white;
	margin: 100px 10px 0 10px;
	height: 1em;
	width: 10em;
	padding: 20px;
	border-style: outset;
	border-radius: 2em;
}
a{
	font-family: 'Josefin Sans', sans-serif;
	color: black;
	font-weight: 200;
	font-size: 1.1em;
}
